<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title data-i18n="common.app_Title"></title>
		<link rel="shortcut icon" href="../img/hxlogo.ico">
		<link rel="stylesheet" href="../css/all.css" />
		<link rel="stylesheet" href="../css/login.css" />
		<script src="../js/all.js"></script>
	</head>

	<body>
		<div id="login">
			<img src="../img/login_bg.png" class="bg" />
			<div class="box">
				<img src="../img/login_logo.png" class="login_logo" />
				<div class="txt_center font20 mg_t10" data-i18n="common.app_Title"></div>
				<div class="mg_t10 mg_l130">
					<el-select size="small" v-model="lan" @change="selectLng()" class="selWidth">
						<el-option value="0" label="简体中文"></el-option>
						<el-option value="1" label="English"></el-option>
					</el-select>
				</div>
				<div class="form" style="margin: 20px 40px 60px;">
					<div>
						<el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-position="left">
							<el-form-item prop="userName">
								<el-input type="text" v-model="ruleForm.userName" data-i18n="[placeholder]login.inputUser" prefix-icon="fa fa-user font20" auto-complete="on"></el-input>
							</el-form-item>
							<el-form-item prop="pwd">
								<el-input type="password" v-model="ruleForm.pwd" data-i18n="[placeholder]login.inputPwd" prefix-icon="fa fa-lock font20" auto-complete="on"></el-input>
							</el-form-item>
							<el-button :loading="loading" size="medium" type="primary" class="mg_t10" style="width:100%;" @click.native.prevent="login()"><span data-i18n="login.button"></span></el-button>
						</el-form>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" async src="../js/libs/md5.js"></script>
		<script type="text/javascript" src="../js/login.js"></script>
	</body>

</html>