<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Definition Detail</title>
		<link href="css/all.css" rel="stylesheet">
		<script src="libs/all.js"></script>
		<style type="text/css">
			.el-form-item {
				margin-bottom: 0px;
			}
			
			.el-form-item__label {
				text-align: right;
				float: left;
				font-size: 14px;
				color: #4C4C4C;
				line-height: 40px;
				padding: 0 12px 0 0;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				font-weight: bold;
			}
			
			iframe {
				border-width: 0px;
				border-style: none;
				border-color: transparent;
				border-image: none;
			}
		</style>
	</head>

	<body>
		<div id="definitionDetail" style="width: 100%; height: 100%;">
			<div class="content_bg" style="height: 60px;">
				<!--<div class="t_left">
					<el-button round size="small" icon="el-icon-edit" @click="editCategory()"><span data-i18n="common.edit"></span></el-button>
				</div>-->
				<div class="t_left">
					<el-button round size="small" icon="el-icon-view" @click="openProcessFormDialog()"><span data-i18n="definition.processForm"></span></el-button>
				</div>
				<div class="t_right">
					<a href="definitions.html">
						<el-button size="small" type="primary" icon="el-icon-back"><span data-i18n="common.return"></span></el-button>
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="content_bg mg_t14">
				<div style="padding: 10px 0px;border-bottom: 1px solid #EEEEEE;">
					<h3 style="line-height: 32px;" v-text="title"></h3>
				</div>
				<div>
					<div class="detailBox">
						<div class="leftText" data-i18n="common.id"></div>
						<div class="rightText" v-text="definition.id"></div>
					</div>
					<div class="detailBox">
						<div class="leftText" data-i18n="common.version"></div>
						<div class="rightText" v-text="definition.version"></div>
					</div>
					<div class="detailBox">
						<div class="leftText" data-i18n="common.name"></div>
						<div class="rightText" v-text="definition.name"></div>
					</div>
					<div class="detailBox">
						<div class="leftText" data-i18n="common.key"></div>
						<div class="rightText" v-text="definition.key"></div>
					</div>
					<div class="detailBox">
						<div class="leftText" data-i18n="common.category"></div>
						<div class="rightText" v-text="definition.category"></div>
					</div>
					<div class="detailBox">
						<div class="leftText" data-i18n="common.description"></div>
						<div class="rightText" v-text="definition.description"></div>
					</div>
					<div class="detailBox">
						<div class="leftText" data-i18n="definition.deployments"></div>
						<div class="rightText" v-text="definition.deploymentId"></div>
					</div>
					<div class="detailBox">
						<div class="leftText" data-i18n="definition.suspended"></div>
						<div class="rightText" v-text="definition.suspended"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="content_bg mg_t14" style="height: 400px;">
				<iframe width="100%" height="100%" src="common/definitionsModel.html"></iframe>
			</div>
			<el-dialog :title="editCategoryTitle" :visible.sync="editCategoryDialog" width="520px" :close-on-click-modal="false">
				<div>The initial category for the definition is populated from the targetNameSpace attribute in the BPMN 2.0 XML, but can be altered after deployment.</div>
				<h3>Category</h3>
				<el-input v-model="category" size="small" style="width: 200px;"></el-input>
				<span slot="footer" class="dialog-footer">                   
					<el-button @click="editCategoryDialog = false" data-i18n="common.cancel"></el-button>
                    <el-button type="primary" @click = "updateCategory()">Update category</el-button>
                </span>
			</el-dialog>
			<!--查看流程表单弹框-->
			<el-dialog :title="$.t('definition.processForm')" :visible.sync="processFormDialog" width="800px" top="5vh" :close-on-click-modal="false">
				<div style="text-align: right;padding-bottom: 10px;">
					<el-button round size="small" icon="el-icon-document" @click="openAddDialog()"><span v-text="i18n.add"></span></el-button>
				</div>
				<el-table id="processTable" border stripe :data="processFormList" :row-key="getRowKeys" :expand-row-keys="expands" highlight-current-row @row-click="rowExpand" @expand-change="handleSelectionChange">
					<el-table-column type="expand">
						<template slot-scope="props">
							<el-form :model="processForm" label-width="110px" label-position="left">
								<el-form-item :label="$.t('common.name')">
									<el-input v-model="processForm.name" size="small" style="width: 450px;" @focus="selectMenu(processForm)" :disabled="isDisabled"></el-input>
								</el-form-item>
								<el-form-item :label="$.t('definition.url')">
									<el-input v-model="processForm.url" size="small" style="width: 450px;" @focus="selectMenu(processForm)" :disabled="isDisabled"></el-input>
								</el-form-item>
								<el-form-item :label="$.t('definition.processDefinitionName')">
									<el-input v-model="processForm.proc_def_name" size="small" style="width: 450px;" :disabled="isDisabled"></el-input>
								</el-form-item>
								<el-form-item :label="$.t('definition.taskDefName')">
									<el-input v-model="processForm.task_def_name" size="small" style="width: 450px;" :disabled="isDisabled"></el-input>
								</el-form-item>
								<el-form-item>
									<el-button size="small" type="primary" icon="el-icon-edit" @click="editProcessForm()"><span v-text="i18n.edit"></span></el-button>
									<el-button size="small" type="primary" icon="el-icon-document" @click="saveProcessForm()" :disabled="isDisabled"><span v-text="i18n.save"></span></el-button>
								</el-form-item>
							</el-form>
						</template>
					</el-table-column>
					<el-table-column prop="name" :label="$.t('common.name')" width="120" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="proc_def_name" :label="$.t('definition.processDefinitionName')" width="150" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="task_def_name" :label="$.t('definition.taskDefName')" width="150" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="state" width="80" :label="$.t('common.status')" show-overflow-tooltip>
						<template slot-scope="scope">
							<el-switch v-model="scope.row.stateNo" @change="stateChange(scope.row)">
							</el-switch>
						</template>
					</el-table-column>
					<el-table-column prop="url" :label="$.t('definition.url')" show-overflow-tooltip>
					</el-table-column>
					<el-table-column :label="$.t('common.operate')" min-width="80">
						<template slot-scope="scope">
							<el-tooltip class="item" effect="dark" :content="$.t('common.delete')" placement="top">
								<el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteProcForm(scope.$index, scope.row)" circle></el-button>
							</el-tooltip>
						</template>
					</el-table-column>
				</el-table>

				<span slot="footer" class="dialog-footer">  
					<el-button type="primary" @click = "processFormDialog = false" data-i18n="common.confirm"></el-button>                 
                </span>
			</el-dialog>

			<!--  配置菜单名称或者URL树形结构-->
			<el-dialog :title="$.t('definition.menusTitle')" :visible.sync="menuTreeDialog" width="600px" :close-on-click-modal="false">
				<div class="mg_b15">
					<el-select size="small" v-model="searchAppID" style="width: 200px;" @change="getAppMenuData">
						<el-option v-for="list in operateApp" :label="list.name" :value="list.id">
						</el-option>
					</el-select>
				</div>
				<el-table border stripe ref="menuTable" :data="menuDataList" style="width: 100%;" @selection-change="handleSelectionMenuChange">
					<el-table-column prop="checked" type="selection"></el-table-column>
					<el-table-column prop="name" :label="$.t('common.name')" width="180" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="url" :label="$.t('definition.url')" min-width="120" show-overflow-tooltip>
					</el-table-column>
				</el-table>
				<div class="block mg_t20" style="background: white;width:100%;height:40px;">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background :current-page="currentPage" :page-sizes="[10, 20, 30]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total_count">
					</el-pagination>
				</div>
				<span slot="footer" class="dialog-footer">                   					
            <el-button type="primary" @click = "selectMenuConfirm()" data-i18n="common.confirm"></el-button>
           </span>
			</el-dialog>
			<!--新增流程表单弹框-->
			<el-dialog :title="$.t('common.add')" :visible.sync="addProcessFormDialog" width="700px" top="5vh" :close-on-click-modal="false">
				<el-form size="small" :model="addProcessForm" :inline="true" label-width="110px" label-position="left" :rules="rules" ref="addProcessForm">
					<el-form-item :label="$.t('common.name')">
						<el-input v-model="addProcessForm.name" @focus="selectMenu(addProcessForm)" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('definition.processDefinitionID')" prop="proc_def_id">
						<el-input v-model="addProcessForm.proc_def_id" size="small" :disabled="true" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('definition.processDefinitionName')">
						<el-input v-model="addProcessForm.proc_def_name" size="small" :disabled="true" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('definition.taskDefID')" prop="task_def_id">
						<el-input v-model="addProcessForm.task_def_id" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('definition.taskDefName')">
						<el-input v-model="addProcessForm.task_def_name" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('definition.url')">
						<el-input v-model="addProcessForm.url" size="small" @focus="selectMenu(addProcessForm)" style="width: 525px;"></el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">                   				
                    <el-button type="primary" @click = "addProcessFormClick()" data-i18n="common.confirm"></el-button>
                    <el-button @click="addProcessFormDialog = false" data-i18n="common.cancel"></el-button>
                </span>
			</el-dialog>
		</div>
		<script type="text/javascript" src="js/definitionDetail.js"></script>
		<script type="application/javascript">
			function setId() {
				var url = decodeURI(location.search); //获取url中"?"符后的字串 ('?modFlag=business&role=1')  
				var theRequest = new Object();
				if(url.indexOf("?") != -1) {
					var str = url.substr(1); //substr()方法返回从参数值开始到结束的字符串；  
					var strs = str.split("&");
					for(var i = 0; i < strs.length; i++) {
						theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
					}
				}
				return theRequest.definitionId;
			}
		</script>
	</body>

</html>