<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Page Configuration</title>
		<link href="css/all.css" rel="stylesheet">
		<script src="libs/all.js"></script>
		<script src="libs/jquery.form.js"></script>
		<style type="text/css">
			.leftBox {
				position: absolute;
				left: 0;
				width: 230px;
				top: 0px;
				bottom: 0;
			}
			
			.rightBox {
				position: absolute;
				left: 245px;
				right: 0px;
			}
		</style>
	</head>

	<body>
		<div id="pageConfiguration" style="width: 100%;height: 100%;position: relative;">
			<div class="leftBox content_bg tree" style="overflow: auto;">
				<el-tree :data="fieldList" :props="props" node-key="id" highlight-current accordion @node-click="handleNodeClick">
				</el-tree>
			</div>
			<div class="rightBox">
				<div class="content_bg">
					<div class="t_left">
						<el-button round size="small" icon="el-icon-view" @click="openFieldGroupDetail()"><span data-i18n="common.viewDetail"></span></el-button>
					</div>
					<div class="t_left mg_l15">
						<el-button round size="small" icon="el-icon-plus" @click="openCreateFieldGroup()"><span data-i18n="pageConfig.createField"></span></el-button>
					</div>
					<div class="t_left mg_l15">
						<el-button round size="small" icon="el-icon-edit" @click="openEditFieldGroup()"><span data-i18n="common.edit"></span></el-button>
					</div>
					<div class="t_left mg_l15">
						<el-button round size="small" icon="el-icon-delete" @click="deleteFieldGroup()"><span data-i18n="common.delete"></span></el-button>
					</div>
					<div class="clear"></div>
				</div>
				<div class="content_bg mg_t14">
					<div style="height: 55px;">
						<div class="font16 f_color1 t_left" style="height: 30px;line-height: 30px;">
							<span data-i18n="pageConfig.fieldConfigure"></span>
						</div>
						<div class="t_right ">
							<el-button round size="small" icon="el-icon-document" @click="openAddConfig()"><span data-i18n="common.add"></span></el-button>
						</div>
						<div class="clear"></div>
					</div>
					<el-table border stripe :data="fieldTableList" highlight-current-row max-height="500">
						<el-table-column prop="uap_page_field.default_name" :label="$.t('dynamicFieldManage.defaultName')" min-width="120" show-overflow-tooltip>
						</el-table-column>
						<el-table-column prop="uap_page_config_detail.display_name" :label="$.t('pageConfig.displayName')" min-width="120" show-overflow-tooltip>
						</el-table-column>
						<el-table-column prop="uap_page_field.field" :label="$.t('dynamicFieldManage.field')" width="100" show-overflow-tooltip>
						</el-table-column>
						<el-table-column prop="uap_page_config_detail.isFormName" :label="$.t('pageConfig.isDisplay')" width="120" show-overflow-tooltip>
						</el-table-column>
						<el-table-column prop="uap_page_config_detail.isSearchName" :label="$.t('pageConfig.isSearch')" width="150" show-overflow-tooltip>
						</el-table-column>
						<el-table-column prop="uap_page_config_detail.stateName" :label="$.t('common.status')" width="120" show-overflow-tooltip>
						</el-table-column>
						<el-table-column prop="uap_page_config_detail.rank_id" :label="$.t('pageConfig.rankID')" min-width="120" show-overflow-tooltip>
						</el-table-column>
						<el-table-column prop="uap_page_field.type" :label="$.t('common.type')" width="120" show-overflow-tooltip>
						</el-table-column>
						<el-table-column :label="$.t('common.operate')" min-width="150" fixed="right">
							<template slot-scope="scope">
								<el-tooltip class="item" effect="dark" :content="$.t('common.delete')" placement="top">
									<el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteFieldConfig(scope.$index, scope.row)" circle></el-button>
								</el-tooltip>
								<el-tooltip class="item" effect="dark" :content="$.t('common.edit')" placement="top">
									<el-button size="mini" icon="el-icon-edit" @click="openEditConfigDialog(scope.$index, scope.row)" circle></el-button>
								</el-tooltip>
								<el-tooltip class="item" effect="dark" :content="$.t('pageConfig.international')" placement="top">
									<el-button size="mini" icon="el-icon-setting" @click="openInterDialog(scope.row)" circle></el-button>
								</el-tooltip>
							</template>
						</el-table-column>
					</el-table>
					<!--<div class="block mg_t20" style="background: white;width:100%;height:40px;">
						<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background :current-page="currentPage" :page-sizes="[10, 20, 30]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="total_count">
						</el-pagination>
					</div>-->
				</div>
			</div>
			<!--新增动态字段组合弹框-->
			<el-dialog :title="$.t('pageConfig.createField')" :visible.sync="createFieldGroupDialog" width="410px" :close-on-click-modal="false">
				<el-form :model="fieldGroup" :rules="rules" ref="addFieldGroup" label-width="120px" label-position="left">
					<el-form-item :label="$.t('pageConfig.configType')" prop="menu_id">
						<el-select size="small" v-model="fieldGroup.menu_id" style="width: 250px;">
							<el-option v-for="list in menuOptions" :label="list.name" :value="list.value">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('common.name')" prop="name">
						<el-input v-model.trim="fieldGroup.name" size="small" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('common.status')" prop="state">
						<el-select size="small" v-model="fieldGroup.state" style="width: 250px;">
							<el-option value="1" :label="$.t('common.enabled')"></el-option>
							<el-option value="0" :label="$.t('common.disabled')"></el-option>
						</el-select>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">                   
					<el-button type="primary" @click = "createFieldGroup()" data-i18n="common.confirm"></el-button>
					<el-button @click="createFieldGroupDialog = false" data-i18n="common.cancel"></el-button>
                </span>
			</el-dialog>
			<!--编辑动态字段组合弹框-->
			<el-dialog :title="$.t('pageConfig.editField')" :visible.sync="editFieldGroupDialog" width="410px" :close-on-click-modal="false">
				<el-form :model="fieldGroup" :rules="rules" ref="editFieldGroup" label-width="120px" label-position="left">
					<el-form-item :label="$.t('pageConfig.configType')" prop="menu_id">
						<el-select size="small" v-model="fieldGroup.menu_id" style="width: 250px;">
							<el-option v-for="list in menuOptions" :label="list.name" :value="list.value">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('common.name')" prop="name">
						<el-input v-model.trim="fieldGroup.name" size="small" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('common.status')" prop="state">
						<el-select size="small" v-model="fieldGroup.state" style="width: 250px;">
							<el-option value="1" :label="$.t('common.enabled')"></el-option>
							<el-option value="0" :label="$.t('common.disabled')"></el-option>
						</el-select>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">                   
					<el-button type="primary" @click = "editFieldGroup()" data-i18n="common.confirm"></el-button>
					<el-button @click="editFieldGroupDialog = false" data-i18n="common.cancel"></el-button>
                </span>
			</el-dialog>
			<!--新增动态字段组合配置弹框-->
			<el-dialog :title="$.t('common.add')" :visible.sync="addFieldConfigDialog" width="840px" :close-on-click-modal="false">
				<el-form :model="fieldConfig" :inline="true" :rules="rulesConfig" ref="addFieldConfig" label-width="135px" label-position="left">
					<el-form-item :label="$.t('pageConfig.fieldGroup')">
						<el-input v-model="fieldConfig.groupName" size="small" disabled style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('pageConfig.displayName')" prop="display_name">
						<el-input v-model.trim="fieldConfig.display_name" size="small" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('dynamicFieldManage.field')" prop="field_id">
						<el-select size="small" v-model="fieldConfig.field_id" style="width: 250px;">
							<el-option v-for="list in fieldOptions" :label="list.field" :value="list.id">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('pageConfig.isDisplay')" prop="is_form">
						<el-select size="small" v-model="fieldConfig.is_form" style="width: 250px;">
							<el-option value="1" :label="$.t('pageConfig.yes')"></el-option>
							<el-option value="0" :label="$.t('pageConfig.no')"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('pageConfig.isSearch')" prop="is_search">
						<el-select size="small" v-model="fieldConfig.is_search" style="width: 250px;">
							<el-option value="1" :label="$.t('pageConfig.yes')"></el-option>
							<el-option value="0" :label="$.t('pageConfig.no')"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('common.status')" prop="state">
						<el-select size="small" v-model="fieldConfig.state" style="width: 250px;">
							<el-option value="1" :label="$.t('common.enabled')"></el-option>
							<el-option value="0" :label="$.t('common.disabled')"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('pageConfig.rankID')" prop="rank_id">
						<el-input v-model="fieldConfig.rank_id" type="number" size="small" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('pageConfig.width')" prop="width">
						<el-input type="number" v-model="fieldConfig.width" size="small" style="width: 250px;">
							<i slot="suffix" style="font-size: 15px;">px</i>
						</el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">                   
					<el-button type="primary" @click = "addFieldConfigClick()" data-i18n="common.confirm"></el-button>
					<el-button @click="addFieldConfigDialog = false" data-i18n="common.cancel"></el-button>
                </span>
			</el-dialog>
			<!--编辑动态字段组合配置弹框-->
			<el-dialog :title="$.t('common.edit')" :visible.sync="editFieldConfigDialog" width="840px" :close-on-click-modal="false">
				<el-form :model="fieldConfig" :inline="true" :rules="rulesConfig" ref="editFieldConfig" label-width="135px" label-position="left">
					<el-form-item :label="$.t('pageConfig.fieldGroup')">
						<el-input v-model="fieldConfig.groupName" size="small" disabled style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('pageConfig.displayName')" prop="display_name">
						<el-input v-model.trim="fieldConfig.display_name" size="small" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('dynamicFieldManage.field')" prop="field">
						<el-input v-model="fieldConfig.field" disabled size="small" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('pageConfig.isDisplay')" prop="is_form">
						<el-select size="small" v-model="fieldConfig.is_form" style="width: 250px;">
							<el-option value="1" :label="$.t('pageConfig.yes')"></el-option>
							<el-option value="0" :label="$.t('pageConfig.no')"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('pageConfig.isSearch')" prop="is_search">
						<el-select size="small" v-model="fieldConfig.is_search" style="width: 250px;">
							<el-option value="1" :label="$.t('pageConfig.yes')"></el-option>
							<el-option value="0" :label="$.t('pageConfig.no')"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('common.status')" prop="state">
						<el-select size="small" v-model="fieldConfig.state" style="width: 250px;">
							<el-option value="1" :label="$.t('common.enabled')"></el-option>
							<el-option value="0" :label="$.t('common.disabled')"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('pageConfig.rankID')" prop="rank_id">
						<el-input v-model="fieldConfig.rank_id" type="number" size="small" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('pageConfig.width')" prop="width">
						<el-input type="number" v-model="fieldConfig.width" size="small" style="width: 250px;">
							<i slot="suffix" style="font-size: 15px;">px</i>
						</el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">                   
					<el-button type="primary" @click = "editFieldConfig()" data-i18n="common.confirm"></el-button>
					<el-button @click="editFieldConfigDialog = false" data-i18n="common.cancel"></el-button>
                </span>
			</el-dialog>

			<!--组合配置国际化弹框-->
			<el-dialog :title="$.t('pageConfig.international')" :visible.sync="internationalDialog" width="700px" :close-on-click-modal="false">
				<el-form label-width="80px" label-position="left">
					<el-button class="mg_b15" size="small" type="primary" icon="el-icon-plus" @click="addLanguage()"></el-button>
					<el-table :data="internationalData" border style="width: 100%;min-height: 300px;overflow-y: auto;">
						<el-table-column :label="$.t('common.language')" width="200">
							<template slot-scope="scope">
								<el-select size="small" v-model="scope.row.local" class="selWidth">
									<el-option value="zh" label="简体中文"></el-option>
									<el-option value="en" label="English"></el-option>
								</el-select>
							</template>
						</el-table-column>
						<el-table-column :label="$.t('common.name')" min-width="200">
							<template slot-scope="scope">
								<el-input v-model.trim="scope.row.display_name" size="small" style="width: 100%;"></el-input>
							</template>
						</el-table-column>
						<el-table-column :label="$.t('common.operate')" width="180">
							<template slot-scope="scope">
								<el-button size="small" type="primary" @click="saveLacal(scope.row)"><span v-text="i18n.save"></span></el-button>
								<el-button size="small" type="danger" @click="deleteLocal(scope.row)"><span v-text="i18n.delete"></span></el-button>
							</template>
						</el-table-column>
					</el-table>
				</el-form>
				<span slot="footer" class="dialog-footer">                   
					<el-button type="primary" @click="internationalDialog = false" data-i18n="common.confirm"></el-button>
                </span>
			</el-dialog>
			<!--动态字段组合详情弹框-->
			<el-dialog :title="$.t('pageConfig.detail')" :visible.sync="fieldGroupDetailDialog" width="400px" :close-on-click-modal="false">
				<el-form :model="fieldGroupDetailData" label-width="110px" label-position="left">
					<el-form-item :label="$.t('pageConfig.configType')">
						<el-input disabled v-model="fieldGroupDetailData.menuName" size="small" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('common.name')" prop="name">
						<el-input disabled v-model="fieldGroupDetailData.name" size="small" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('common.status')" prop="state">
						<el-input disabled v-model="fieldGroupDetailData.stateName" size="small" style="width: 250px;"></el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">                   
					<el-button type="primary" @click="fieldGroupDetailDialog = false" data-i18n="common.confirm"></el-button>
                </span>
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript" src="js/pageConfiguration.js"></script>

</html>