<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>processForm</title>
		<link href="css/all.css" rel="stylesheet">
		<script src="libs/all.js"></script>
		<style type="text/css">
			.el-select .el-input {
				width: 130px;
			}
			
			.input-with-select .el-input-group__prepend {
				background-color: #fff;
			}
			
			.el-button.is-circle {
				border-radius: 50%;
				padding: 6px;
			}
			
			.leftBox {
				position: absolute;
				left: 0;
				width: 230px;
				top: 0px;
				bottom: 0;
			}
			
			.rightBox {
				position: absolute;
				left: 245px;
				right: 0;
			}
			
			.el-tree-node__content {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				height: 36px;
				cursor: pointer;
			}
			
			.el-tree-node__label {
				font-size: 14px;
				color: #666666;
			}
			
			#processTable .el-form-item {
				margin-bottom: 5px;
			}
		</style>
	</head>

	<body>
		<div id="processForm" style="width: 100%;height: 100%;position: relative;">
			<div class="leftBox content_bg" style="overflow: auto;">
				<div>
					<div class="font16 f_color1 t_left" style="height: 30px;line-height: 30px;"><span data-i18n="workFlow.process"></span></div>
					<i class="fa fa-trash-o el-icon-refresh t_right clearTree" @click="clearProcessTree()"></i>
					<div class="clear"></div>
				</div>
				<el-tree ref="processTree" accordion node-key="id" :load="loadProcessTreeNode" :highlight-current="highlight" lazy :props="defaultProps" @node-expand="nodeExpand" @node-click="handleProcessTreeNodeClick"></el-tree>
			</div>
			<div class="rightBox">
				<div class="content_bg" style="padding:10px 15px;border-radius: 5px 5px 0 0;">
					<div style="height: 55px;">
						<div class="font16 f_color1 t_left" style="height: 30px;line-height: 30px;">
							<span data-i18n="workFlow.processForm"></span>
						</div>
						<div class="t_right">
							<el-button round size="small" icon="el-icon-document" @click="openAddDialog()"><span data-i18n="common.add"></span></el-button>
							<!--<el-button round size="small" icon="el-icon-edit" @click="openEditDialog()"><span data-i18n="common.edit"></span></el-button>
							-->
							<!--<el-button round size="small" icon="el-icon-delete" @click="deleteProcForm()"><span data-i18n="common.delete"></span></el-button>-->

						</div>
						<div class="clear"></div>
					</div>
					<el-table id="processTable" border stripe :data="processFormList" :row-key="getRowKeys" :expand-row-keys="expands" highlight-current-row @row-click="rowExpand" @expand-change="handleSelectionChange">
						<el-table-column type="expand">
							<template slot-scope="props">
								<el-form :model="processForm" label-width="110px" label-position="left" ref="processForm">
									<el-form-item :label="$.t('workFlow.name')" prop="modelName">
										<el-input v-model="processForm.name" size="small" style="width: 250px;" @focus="selectMenu()" :disabled="isDisabled" clearable></el-input>
									</el-form-item>
									<el-form-item :label="$.t('workFlow.url')">
										<el-input v-model="processForm.url" size="small" style="width: 250px;" @focus="selectMenu()" :disabled="isDisabled" clearable></el-input>
									</el-form-item>
									<el-form-item :label="$.t('workFlow.processDefinitionName')" prop="modelKey">
										<el-input v-model="processForm.procDefName" size="small" style="width: 250px;" :disabled="isDisabled"></el-input>
									</el-form-item>
									<el-form-item :label="$.t('workFlow.taskDefName')">
										<el-input v-model="processForm.taskDefName" size="small" style="width: 250px;" :disabled="isDisabled"></el-input>
									</el-form-item>
									<el-form-item>
										<el-button size="small" type="primary" icon="el-icon-edit" @click="editProcessForm()"><span v-text="i18n.edit"></span></el-button>
										<el-button size="small" type="primary" icon="el-icon-document" @click="saveProcessForm()" :disabled="isDisabled"><span v-text="i18n.save"></span></el-button>
									</el-form-item>
								</el-form>
							</template>
						</el-table-column>

						<!--<el-table-column prop="checked" type="selection"></el-table-column>-->
						<el-table-column prop="name" :label="$.t('workFlow.name')" width="120" show-overflow-tooltip>
						</el-table-column>
						<el-table-column prop="procDefName" :label="$.t('workFlow.processDefinitionName')" width="150" show-overflow-tooltip>
						</el-table-column>
						<el-table-column prop="taskDefName" :label="$.t('workFlow.taskDefName')" width="150" show-overflow-tooltip>
						</el-table-column>
						<el-table-column prop="state" width="80" :label="$.t('workFlow.state')" show-overflow-tooltip>
							<template slot-scope="scope">
								<el-switch v-model="scope.row.stateNo" @change="stateChange(scope.row)">
								</el-switch>
							</template>
						</el-table-column>
						<el-table-column prop="url" :label="$.t('workFlow.url')" show-overflow-tooltip>
						</el-table-column>
						<el-table-column :label="$.t('common.operate')" min-width="80">
							<template slot-scope="scope">
								<el-tooltip class="item" effect="dark" :content="$.t('common.delete')" placement="top">
									<el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteProcForm(scope.$index, scope.row)" circle></el-button>
								</el-tooltip>
							</template>
						</el-table-column>
					</el-table>

					<div class="block mg_t20" style="background: white;width:100%;height:40px;padding-left: 15px;">
						<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background :current-page="currentPage" :page-sizes="[10, 20, 30]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total_count">
						</el-pagination>
					</div>
				</div>

			</div>
			<!--  配置菜单名称或者URL树形结构-->
			<el-dialog :title="$.t('common.menusTitle')" :visible.sync="menuTreeDialog" width="300px" :close-on-click-modal="false">
				<el-tree :data="menuAllTreeData" lazy check-strictly @check-change="handleClick" :load="loadMenuTreeNode" show-checkbox accordion node-key="id" ref="menuTree" :props="defaultProps">
				</el-tree>
				<span slot="footer" class="dialog-footer">                   					
            <el-button type="primary" @click = "selectMenuConfirm()" data-i18n="common.confirm"></el-button>
            </span>
			</el-dialog>
			<!--新增流程表单弹框-->
			<el-dialog :title="$.t('common.add')" :visible.sync="addProcessFormDialog" width="700px" :close-on-click-modal="false">
				<el-form size="small" :model="addProcessForm" :inline="true" label-width="110px" label-position="left" :rules="rules" ref="addProcessForm">
					<el-form-item :label="$.t('workFlow.name')">
						<el-input v-model="addProcessForm.name" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('workFlow.processDefinitionID')" prop="procDefID">
						<el-input v-model="addProcessForm.procDefID" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('workFlow.processDefinitionName')">
						<el-input v-model="addProcessForm.procDefName" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('workFlow.taskDefID')" prop="taskDefID">
						<el-input v-model="addProcessForm.taskDefID" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('workFlow.taskDefName')">
						<el-input v-model="addProcessForm.taskDefName" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('workFlow.url')">
						<el-input v-model="addProcessForm.url" size="small" style="width: 200px;"></el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">                   				
                    <el-button type="primary" @click = "addProcessFormClick()" data-i18n="common.confirm"></el-button>
                    <el-button @click="addProcessFormDialog = false" data-i18n="common.cancel"></el-button>
                </span>
			</el-dialog>

		</div>
		<script type="text/javascript" src="js/processForm.js"></script>
	</body>

</html>