a {
	color: #337ab7;
	text-decoration: none
}

img {
	vertical-align: middle
}

ol,
ul {
	margin-top: 0;
	margin-bottom: 0px
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

@media (min-width:768px) {
	.navbar-left {
		float: left!important
	}
	.navbar-right {
		float: right!important;
		margin-right: -15px
	}
	.navbar-right~.navbar-right {
		margin-right: 0
	}
}

.navbar:after {
	display: table;
	content: " "
}

.navbar:after {
	clear: both
}

a:focus {
	outline: 0
}

.nav>li>a {
	color: #4c4c4c;
	font-weight: 600;
	padding: 14px 20px 14px 25px;
	font-size: 14px;
}

.nav li>a {
	display: block
}

.nav.navbar-right>li>a {
	color: #fff
}

.nav>li.active>a {
	color: #1d8bd8;
}

.navbar-default .nav>li>a:focus,
.navbar-default .nav>li>a:hover {
	background-color: #fff;
	color: #1d8bd8;
}

.nav>li>a i {
	margin-right: 6px
}

.navbar {
	border: 0
}

.navbar-default {
	background-color: transparent;
	border-color: #2f4050;
	position: relative
}

.nav-header {
	text-align: center;
	padding: 5px 0 7px;
	background: #1e8bd8;
	height: 48px;
}

.nav>li.active {
	border-left: 4px solid #1d8bd8;
	background: #fff
}

.arrow {
	float: right;
	margin-top: 2px
}

.fa.arrow:before {
	content: "\f104"
}

.active>a>.fa.arrow:before {
	content: "\f107"
}

.nav-second-level li,
.nav-third-level li {
	border-bottom: none!important
}

.nav-second-level li a {
	padding: 7px 15px 7px 10px;
	padding-left: 52px
}

.nav-third-level li a {
	padding-left: 62px
}

.nav-second-level li:last-child {
	margin-bottom: 10px
}

.smoothMenu{
	color: white;font-size: 20px;line-height: 48px;cursor: pointer;
}

.logo-element {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	display: none;
	padding: 18px 0
}

body.canvas-menu .navbar-static-side,
body.fixed-sidebar .navbar-static-side {
	position: absolute;
	width: 239px;
	z-index: 2001;
	height: 100%
}

body,
body.full-height-layout #page-wrapper,
body.full-height-layout #index,
html {
	height: 100%;
}

#page-wrapper {
	min-height: auto
}

.modal-footer {
	margin-top: 0
}

#index {
	width: 100%;
	overflow-x: hidden;
	background-color: #2f4050
}

.wrapper-content {
	padding: 20px
}

#page-wrapper {
	padding: 0 15px;
	position: inherit;
	margin: 0 0 0 239px
}

.footer {
	/*background: none repeat scroll 0 0 #fff;*/
	/*border-top: 1px solid #e7eaec;*/
	overflow: hidden;
	/*padding: 15px 20px;*/
	margin: 0 -15px;
	height: 24px;
	line-height: 24px;
}


/*.footer.fixed_full {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 10px 20px;
	background: #fff;
	border-top: 1px solid #e7eaec
}

.footer.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 10px 20px;
	background: #fff;
	border-top: 1px solid #e7eaec;
	margin-left: 220px
}*/

.content-tabs {
	position: relative;
	height: 40px;
	background: #fafafa;
	line-height: 40px
}

.content-tabs .roll-nav,
.page-tabs-list {
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #999;
	z-index: 2;
	top: 0
}

.content-tabs .roll-left {
	left: 0;
	border-right: solid 1px #eee
}

.content-tabs .roll-right {
	right: 0;
	border-left: solid 1px #eee
}

.content-tabs button {
	background: #fff;
	border: 0;
	height: 40px;
	width: 40px;
	outline: 0;
	cursor: pointer;
}

.content-tabs button:hover {
	background: #fafafa
}

nav.page-tabs {
	position: absolute;
	left: 40px;
	right: -1000000px;
	top: 0;
	/*width: 100000px;*/
	height: 40px;
	/*overflow: hidden*/
}

nav.page-tabs .page-tabs-content {
	float: left
}

.page-tabs a {
	display: block;
	float: left;
	border-right: solid 1px #eee;
	padding: 0 15px;
	font-size: 14px;
}

.page-tabs a i:hover {
	color: #c00
}

.content-tabs .roll-nav:hover,
.page-tabs a:hover {
	color: #777;
	background: #f2f2f2;
	cursor: pointer
}

.roll-right.J_tabRight {
	right: 140px
}

.roll-right.btn-group {
	right: 60px;
	width: 80px;
	padding: 0
}

.roll-right.btn-group button {
	width: 80px
}

.roll-right.J_tabExit {
	background: #fff;
	height: 40px;
	width: 60px;
	outline: 0
}

#content-main {
	height: calc(100% - 120px);
	overflow: hidden;
	background: #eeeeee;
	padding: 15px 15px 0 15px;
}

.gray-bg {
	background-color: #f3f3f4
}

.content-tabs {
	/*border-bottom: solid 2px #1d8bd8;*/
}

.page-tabs a {
	color: #999
}

.page-tabs a i {
	color: #ccc
}

.page-tabs a.active {
	background: #409eff;
	color: #FFFFFF;
	font-weight: 800;
}

.page-tabs a.active i{
	color: #fff
}

.page-tabs a.active i:hover{
	color: #eee
}

/*.page-tabs a.active i:hover,
.page-tabs a.active:hover {
	background: #293846;
	color: #fff
}*/

.navbar-static-side {
	background: #fff
}

.nav-close {
	padding: 10px;
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 1.4em;
	cursor: pointer;
	z-index: 10;
	display: none;
	color: rgba(255, 255, 255, .3)
}

.navbar-toggle {
	background-color: #fff
}

.J_menuTab {
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.index_logo {
	background: url(../img/logo.png);
	background-size: 150px 35px;
    width: 150px;
	height: 35px;
	margin-left: 15px;
}

.index_appName {
	/*width: 200px;*/
	height: 48px;
	line-height: 48px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	margin-left: 20px;
}

.index_logo_small {
	background: url(../img/index_logo_small.png);
	background-size: 35px 35px;
	width: 35px;
	height: 35px;
	margin-left: 7px;
}

.marg50 {
	margin: 0 0 0 50px !important;
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: #329EE2;
	color: white;
}

.el-tree-node__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 48px;
	cursor: pointer;
	padding: 0 15px;
	position: relative;
}

.el-tree-node__label {
	font-size: 15px;
	color: #333333;
	/*padding-left: 20px;*/
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content>.el-tree-node__label {
	/*background-color: #eeeeee;*/
	color: #1d8bd8;
}

.el-tree-node__content>.el-tree-node__expand-icon {
	padding: 0px;
	/*padding: 6px 10px 6px 15px;*/
}

/*.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
	background-color: transparent;
}*/

.treeTxt {
	color: #1d8bd8;
}

.el-icon-caret-right {
	position: absolute;
	right: 15px;
	top: 18px;
	color: #999999;
	font-weight: 600;
}

.el-icon-caret-right:before {
	content: "\e604";
}

.minimalize-styl-2 {
	padding: 0px 12px;
	margin: 8px 5px 5px 0px;
	font-size: 14px;
	float: left;
}

.navbar-min {
	position: absolute;
	width: 50px;
	z-index: 2001;
	height: 100%;
	background: white;
}

.indexLeftIcon ul li {
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.indexLeftIcon ul li:active {
	background: #eeeeee;
}


/*
.el-checkbox__inner {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 0px;
    height: 0px;
    background-color: #fff;
    z-index: 1;
    -webkit-transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);

    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-left: 15px;
}

.el-checkbox__inner:before {
	content: "\f015";
	width: 20px;
}*/

.operateAll {
	position: absolute;
	right: 60px;
	width: 80px;
	height: 40px;
	text-align: center;
	color: #999;
	z-index: 2;
	top: 0;
	cursor: pointer;
	background: white;
	border-left: 1px solid #eee;
}

.el-dropdown-menu__item a {
	color: #666666;
}

.el-icon-arrow-down:before {
	content: "\E60B";
}

.userDown li {
	padding: 8px !important;
	cursor: pointer;
}

.userDown li:hover {
	background: #F2F2F2;
}

.userDown a {
	display: block;
	width: 100%;
	color: #666666 !important;
}

.el-popper[x-placement^=bottom] {
	margin-top: 20px;
}

.userBox .el-button {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
	-webkit-appearance: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	-webkit-transition: .1s;
	transition: .1s;
	padding: 0;
	font-size: 14px;
	border-radius: 4px;
}
.userBox input{
	background: #ECF4FF;
}
#index .kj_text{
	color: #333333;font-size: 14px;overflow: hidden;
}

#index .kj_icon{
	margin-left: 20px;margin-right:10px;font-size: 18px;color: #333333;width: 18px;height: 18px;
}
