<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="js/vue.min.js"></script>
<script src="js/vue-resource.js"></script>
<body>
<div>
    设备类型：
    <select>
        <option selected="selected">--请选择--</option>
        <option >变电站</option>
        <option >断路器</option>
        <option >负荷开关</option>
        <option >接地刀闸</option>
    </select>

    容器名称：
    <select>
        <option  selected="selected">--请选择--</option>
        <option>toptest1</option>
        <option>newtest1</option>
    </select>

    设备名称：
    <select>
        <option selected="selected">--请选择--</option>
        <option>断路器1</option>
        <option>断路器2</option>
    </select>
    <br>

    <br>
    <input type="checkbox"/>遥测1<br>
    <input type="checkbox"/>遥测2<br>
    <input type="checkbox"/>遥测3<br>
    <input type="checkbox"/>遥测4<br>
    <br>

    <button>匹配</button>
</div>


<br><h1>-----test-vue-ajax-----</h1>
<div id="box">
    <!--<input type="button" v-on:click="queryTypeList" value="test"/>-->

    <!--<table  border="1" width="500" height="300" bgcolor="#9acd32" cellpadding="10" cellspacing="0">-->
    <!--<tr v-for="item in typeList">-->
    <!--<td>{{item.id}}</td>-->
    <!--<td>{{item.name}}</td>-->
    <!--</tr>-->
    <!--</table>-->
    设备类型
    <select v-on:click="queryTypeList" v-model="tid"  @change="queryEquipmentList">
        <option  selected="selected">--请选择--</option>
        <option v-for="item in typeList" :value="item.id">{{item.name}}</option>

    </select>
    <!--选中类型 <span>{{tid}}</span>-->
    <!--选中容器<span>{{cid}}</span>-->

    容器
    <select @click="queryContainerList" v-model="cid" @change="queryEquipmentList">
        <option  selected="selected" value="--请选择--">--请选择--</option>
        <option v-for="item in containerList" :value="item.id">{{item.name}}</option>
    </select>

     <!--<button @click="queryEquipmentList()">-></button>-->

    设备
    <select v-on:click="queryEquipmentList" v-model="eid" @change="queryAnalogByEqic" >
        <option  selected="selected">--请选择--</option>
        <option v-for="item in equipmentList" :value="item.id">{{item.name}}</option>
    </select>
    <ul>
        <li v-for="item in anlogList">{{item.name}}</li>
    </ul>
    <br>

</div>

</body>

<script>
    var base='http://192.168.15.171:8080/fe-server/fe/'
    var vm=new Vue({
        el:'#box',
        data:{
            typeList:"",
            containerList:"",
            equipmentList:"",
            cid:"",
            tid:"",
            eid:"",
            anlogList:""
        },
        methods:{
            queryTypeList:function () {
                var url=base+'getRefPsrtypeInfo'
                var params={}
                this.$http.post(url,params).then(function (data) {   //ajax请求封装
                    var json = data.body.data;
                    console.info(json);
                    this.typeList = json;
                }, function (response) {     //返回失败方法调用，暂不处理
                    console.info(response);
                })
            },
            queryContainerList:function () {
                var url=base+'getRefContainerInfo'
                var params={}
                this.$http.post(url,params).then(function (data) {   //ajax请求封装
                    var json = data.body.data;
                    console.info(json);
                    this.containerList = json;
                }, function (response) {     //返回失败方法调用，暂不处理
                    console.info(response);
                })
            },
            queryEquipmentList:function () {
                var url=base+'getRefEquipmentInfo';
                var params={'container_id':this.cid,'type_id':this.tid};
                this.$http.post(url,params).then(function (data) {   //ajax请求封装
                    var code=data.body.msg_code
                    if(code !="operate.success"){
                        //alert(code)
                        console.info(code)
                    }
                    var json = data.body.data;
                    console.info(json);
                    this.equipmentList = json;
                }, function (response) {     //返回失败方法调用，暂不处理
                    console.info(response);
                })
            },
            queryAnalogByEqic:function () {
                var url=base+'getAnlogInfoByEquipment/'+this.eid;
                var param={}
                this.$http.post(url,param).then(function (data) {   //ajax请求封装
                    var code=data.body.msg_code
                    if(code !="operate.success"){
                        //alert(code)
                        console.info('wrongMsg:'+code)
                    }
                    var json = data.body.data;
                    console.info(json);
                    this.anlogList = json;
                }, function (response) {     //返回失败方法调用，暂不处理
                    console.info(response);
                })
            }



        }

    })

</script>


</html>