<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>api</title>
		<link href="../../css/all.css" rel="stylesheet">
		<script src="../../js/allSecond.js"></script>
	</head>

	<body class="gray-bg">
		<div id="api" style="width: 100%; height: 100%;">
			<div class="content_bg" style="height: 100px;">
				<div class="t_left">
					<div class="t_left" style="line-height: 32px;width: 100px;text-align: right;"><span data-i18n="common.status"></span></div>
					<div class="t_left mg_l15">
						<el-select style="width:200px;height: 32px;" size="small" v-model="chooseState" slot="prepend" data-i18n="[placeholder]common.select" @change="searchApi()">
							<el-option v-for="list in stateOptions" :label="list.text" :value="list.code">
							</el-option>
						</el-select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="t_left">
					<div class="t_left" style="line-height: 32px;width: 100px;text-align: right;"><span data-i18n="common.app"></span></div>
					<div class="t_left mg_l15">
						<el-select size="small" v-model="searchAppID" style="width: 200px;" @change="searchApi()">
							<el-option v-for="list in appQueryOptions" :label="list.name" :value="list.id">
							</el-option>
						</el-select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="t_left">
					<div class="t_left" style="line-height: 32px;width: 100px;text-align: right;"><span data-i18n="common.type"></span></div>
					<div class="t_left mg_l15">
						<el-select size="small" v-model="searchType" style="width: 200px;" clearable @change="searchApi()" @clear="searchApi()">
							<el-option v-for="list in typeOptions" :label="list.text" :value="list.code">
							</el-option>
						</el-select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="t_left mg_t10" style="width: 100%;">
					<div class="t_left">
						<div class="t_left" style="line-height: 32px;width: 100px;text-align: right;"><span data-i18n="common.name"></span></div>
						<div class="t_left mg_l15">
							<el-input style="width:200px;height: 32px;" data-i18n="[placeholder]common.inputName" v-model.trim="searchName" size="small" @keyup.enter.native="searchApi()" clearable></el-input>
						</div>
						<div class="clear"></div>
					</div>
					<div class="t_left">
						<div class="t_left" style="line-height: 32px;width: 100px;text-align: right;"><span data-i18n="api.apiLabel"></span></div>
						<div class="t_left mg_l15">
							<el-autocomplete size="small" style="width:200px;" class="inline-input" clearable v-model.trim="apiLabel" :fetch-suggestions="querySearchLabel" :placeholder="placeholderSearch" @select="handleSelectLabel"></el-autocomplete>
						</div>
						<div class="clear"></div>
					</div>
					<div class="t_right">
						<el-button size="small" type="primary" icon="el-icon-search" @click="searchApi()"><span data-i18n="common.search"></span></el-button>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="content_bg mg_t10">
				<div class="tableTitle">
					<div class="font16 f_color1 t_left" style="height: 30px;line-height: 30px;">
						<span data-i18n="common.apiTitle"></span>
					</div>
					<div class="t_right">
						<el-button round size="small" icon="el-icon-document" @click="openAddDialog()" :disabled="addDisabled"><span data-i18n="common.add"></span></el-button>
					</div>
					<div class="clear"></div>
				</div>
				<el-table border stripe :data="apiDataList" style="width: 100%;">
					<!--<el-table-column prop="checked" type="selection" @selection-change="handleSelectionChange"></el-table-column>-->
					<el-table-column prop="name" :label="$.t('common.name')" min-width="80" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="url" label="URL" min-width="100" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="code" :label="$.t('role.code')" width="120" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="tags" :label="$.t('api.apiLabel')" width="150" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="uap_app.name" :label="$.t('common.app')" width="180" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="typeName" :label="$.t('common.type')" width="100" show-overflow-tooltip>
					</el-table-column>
					<el-table-column :label="$.t('common.whetherToEnable')" width="80" show-overflow-tooltip>
						<template slot-scope="scope">
							<el-switch v-model="scope.row.stateNo" :disabled="scope.row.isDisuse" @change="stateChange(scope.row)">
							</el-switch>
						</template>
					</el-table-column>
					<el-table-column :label="$.t('common.operate')" min-width="80">
						<template slot-scope="scope">
							<el-tooltip class="item" effect="dark" :content="$.t('common.delete')" placement="top">
								<el-button size="mini" type="danger" icon="el-icon-delete" :disabled="deleteDisabled" @click="deleteApi(scope.$index, scope.row)" circle></el-button>
							</el-tooltip>
							<el-tooltip class="item" effect="dark" :content="$.t('common.edit')" placement="top">
								<el-button size="mini" icon="el-icon-edit" :disabled="editDisabled" @click="openEditDialog(scope.$index, scope.row)" circle></el-button>
							</el-tooltip>
							<el-tooltip class="item" effect="dark" :content="$.t('api.viewConMenu')" placement="top">
								<el-button size="mini" icon="el-icon-view" @click="viewConMenu(scope.$index, scope.row)" circle></el-button>
							</el-tooltip>
						</template>
					</el-table-column>
				</el-table>
				<div class="block mg_t20" style="background: white;width:100%;height:40px;">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background :current-page="currentPage" :page-sizes="[10, 20, 30]" :page-size="page_size" layout="total, sizes, prev, pager, next, jumper" :total="total_count">
					</el-pagination>
				</div>
			</div>
			<el-dialog :title="$.t('common.add')" width="650px" top="10vh" :visible.sync="addDialogShow" :close-on-click-modal="false">
				<el-form :model="addform" size="small" :inline="true" :rules="rules" ref="addApiForm" label-position="right" label-width="80px">
					<el-form-item :label="$.t('common.name')" prop="name">
						<el-input v-model.trim="addform.name" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('role.code')" prop="code">
						<el-input v-model="addform.code" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item label="URL" prop="url">
						<el-input v-model.trim="addform.url" size="small" style="width: 495px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('common.app')" prop="app_id">
						<el-select size="small" v-model="addform.app_id" style="width: 200px;">
							<el-option v-for="list in appOptions" :label="list.name" :value="list.id">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('api.apiLabel')" prop="tags">
						<el-autocomplete size="small" class="inline-input" clearable style="width: 200px;" v-model.trim="addform.tags" :fetch-suggestions="querySearchLabel" :placeholder="placeholderSearch" @select="handleSelectLabel"></el-autocomplete>
					</el-form-item>
					<el-form-item :label="$.t('api.logType')" prop="type">
						<el-input v-model="addform.log_type" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('api.logState')" prop="state">
						<el-select size="small" v-model="addform.log_state" style="width: 200px;" data-i18n="[placeholder]common.select">
							<el-option v-for="list in logStateOptions" :label="list.text" :value="list.value">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('common.type')" prop="type">
						<el-select size="small" v-model="addform.type" style="width: 200px;" data-i18n="[placeholder]common.selectType">
							<el-option v-for="list in typeOptions" :label="list.text" :value="list.code">
							</el-option>
						</el-select>
					</el-form-item>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button type="primary" @click="addConfirm()" data-i18n="common.confirm"></el-button>
					<el-button @click="addDialogShow = false" data-i18n="common.cancel"></el-button>
				</div>
			</el-dialog>
			<el-dialog :title="$.t('common.edit')" width="650px" top="10vh" :visible.sync="editDialogShow" :close-on-click-modal="false">
				<el-form :model="editform" size="small" :inline="true" :rules="rules" ref="editApiForm" label-position="right" label-width="80px">
					<el-form-item :label="$.t('common.name')" prop="name">
						<el-input v-model.trim="editform.name" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('role.code')" prop="code">
						<el-input v-model="editform.code" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item label="URL" prop="url">
						<el-input v-model.trim="editform.url" size="small" style="width: 495px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('common.app')" prop="app_id">
						<el-select size="small" v-model="editform.app_id" style="width: 200px;">
							<el-option v-for="list in appOptions" :label="list.name" :value="list.id">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('api.apiLabel')" prop="tags">
						<el-autocomplete size="small" class="inline-input" clearable style="width: 200px;" v-model.trim="editform.tags" :fetch-suggestions="querySearchLabel" :placeholder="placeholderSearch" @select="handleSelectLabel"></el-autocomplete>
					</el-form-item>
					<el-form-item :label="$.t('api.logType')" prop="type">
						<el-input v-model="editform.log_type" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('api.logState')" prop="state">
						<el-select size="small" v-model="editform.log_state" style="width: 200px;" data-i18n="[placeholder]common.select">
							<el-option v-for="list in logStateOptions" :label="list.text" :value="list.value">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('common.type')">
						<el-select size="small" v-model="editform.type" style="width: 200px;" data-i18n="[placeholder]common.selectType">
							<el-option v-for="list in typeOptions" :label="list.text" :value="list.code">
							</el-option>
						</el-select>
					</el-form-item>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button type="primary" @click="editConfirm()" data-i18n="common.confirm"></el-button>
					<el-button @click="editDialogShow = false" data-i18n="common.cancel"></el-button>
				</div>
			</el-dialog>
			<!--查看已配置菜单弹框-->
			<el-dialog :title="$.t('api.viewConMenu')" width="350px" top="10vh" :visible.sync="viewConMenuDialog" :close-on-click-modal="false">
				<el-table :data="menuListData" border style="width: 100%">
					<el-table-column prop="id" label="ID" width="100">
					</el-table-column>
					<el-table-column prop="name" :label="$.t('common.name')">
					</el-table-column>
				</el-table>
				<div slot="footer" class="dialog-footer">
					<el-button type="primary" @click="viewConMenuDialog = false" data-i18n="common.confirm"></el-button>
				</div>
			</el-dialog>
		</div>
		<script type="text/javascript" src="../../js/manage/api.js"></script>
	</body>

</html>