<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>app</title>
		<link href="../../css/all.css" rel="stylesheet">
		<script src="../../js/allSecond.js"></script>
	</head>

	<body class="gray-bg">
		<div id="app" style="width: 100%; height: 100%;">
			<div class="content_bg" style="height: 62px;">
				<div class="t_left">
					<el-select style="width:150px;height: 32px;" size="small" v-model="chooseState" slot="prepend" data-i18n="[placeholder]common.select" @change="selectState()">
						<el-option v-for="list in stateOptions" :label="list.text" :value="list.code">
						</el-option>
					</el-select>
				</div>
				<div class="t_left mg_l10">
					<el-input style="width:300px;height: 32px;" data-i18n="[placeholder]common.inputName" v-model.trim="searchName" size="small" @keyup.enter.native="searchApp" clearable></el-input>
				</div>
				<div class="t_right mg_l15">
					<el-button size="small" type="primary" icon="el-icon-search" @click="searchApp()"><span data-i18n="common.search"></span></el-button>
				</div>
				<div class="clear"></div>
			</div>
			<div class="content_bg mg_t14">
				<div class="tableTitle">
					<div class="font16 f_color1 t_left" style="height: 30px;line-height: 30px;">
						<span data-i18n="common.appTitle"></span>
					</div>
					<div class="t_right">
						<el-button round size="small" icon="el-icon-document" @click="openAddDialog()" :disabled="addDisabled"><span data-i18n="common.add"></span></el-button>
					</div>
					<div class="clear"></div>
				</div>
				<el-table border stripe :data="appDataList" style="width: 100%;" @selection-change="handleSelectionChange">
					<el-table-column prop="name" :label="$.t('common.name')" min-width="150" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="code" :label="$.t('role.code')" width="120" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="type" :label="$.t('common.type')" width="120" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="parent_name" :label="$.t('app.parentApp')" width="120" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="url" :label="$.t('app.appURL')" min-width="180" show-overflow-tooltip>
					</el-table-column>
					<el-table-column :label="$.t('common.whetherToEnable')" width="120" show-overflow-tooltip>
						<template slot-scope="scope">
							<el-switch v-model="scope.row.stateNo" :disabled="scope.row.stateDisabled" @change="stateChange(scope.row)">
							</el-switch>
						</template>
					</el-table-column>
					<el-table-column :label="$.t('common.operate')" min-width="100">
						<template slot-scope="scope">
							<el-tooltip class="item" effect="dark" :content="$.t('common.delete')" placement="top">
								<el-button size="mini" type="danger" icon="el-icon-delete" :disabled="deleteDisabled" @click="deleteApp(scope.$index, scope.row)" circle></el-button>
							</el-tooltip>
							<el-tooltip class="item" effect="dark" :content="$.t('common.edit')" placement="top">
								<el-button size="mini" icon="el-icon-edit" :disabled="editDisabled" @click="openEditDialog(scope.$index, scope.row)" circle></el-button>
							</el-tooltip>
							<el-tooltip class="item" effect="dark" :content="$.t('app.refreshApp')" placement="top">
								<el-button size="mini" icon="el-icon-refresh"  @click="refreshApp(scope.$index, scope.row)" circle></el-button>
							</el-tooltip>
						</template>
					</el-table-column>
				</el-table>
				<div class="block mg_t20" style="background: white;width:100%;height:40px;">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background :current-page="currentPage" :page-sizes="[10, 20, 30]" :page-size="page_size" layout="total, sizes, prev, pager, next, jumper" :total="total_count">
					</el-pagination>
				</div>
			</div>
			<!--新增应用弹框-->
			<el-dialog :title="$.t('common.add')" width="770px" top="10vh" :visible.sync="addDialogShow" :close-on-click-modal="false">
				<el-form :model="addform" :inline="true" size="small" :rules="rules" ref="addAPPForm" label-position="right" label-width="150px">
					<el-form-item :label="$.t('common.name')" prop="name">
						<el-input v-model.trim="addform.name" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('app.parentApp')">
						<el-select size="small" clearable v-model="addform.parent_id" @change="selectOperableApp" style="width: 200px;">
						<el-option v-for="list in operableAppOptions" :label="list.name" :value="list.id">
						</el-option>
					</el-select>
					</el-form-item>
					<el-form-item :label="$.t('app.appType')" prop="type">
						<el-select size="small" v-model="addform.type" :disabled="appTypeDisabled" style="width: 200px;" data-i18n="[placeholder]common.select">
							<el-option v-for="list in typeOptions" :label="list.text" :value="list.code">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('app.appCode')" prop="code">
						<el-input v-model.trim="addform.code" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('user.password')" prop="scret">
						<el-input type="password" v-model="addform.scret" style="width: 200px;" clearable></el-input>
					</el-form-item>
					<el-form-item :label="$.t('user.passwordConfirm')" prop="confirm_password">
						<el-input type="password" v-model="addform.confirm_password" style="width: 200px;" clearable></el-input>
					</el-form-item>
					<el-form-item :label="$.t('app.appURL')">
						<el-input v-model="addform.url" size="small" style="width: 565px;"></el-input>
					</el-form-item>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button type="primary" @click="addConfirm()" data-i18n="common.confirm"></el-button>
					<el-button @click="addDialogShow = false" data-i18n="common.cancel"></el-button>
				</div>
			</el-dialog>

			<el-dialog :title="$.t('common.edit')" width="770px" top="10vh" :visible.sync="editDialogShow" :close-on-click-modal="false">
				<el-form :model="editform" size="small" :inline="true" :rules="rules" ref="editAPPForm" label-position="right" label-width="150px">
					<el-form-item :label="$.t('app.parentApp')">
						<el-input v-model="editform.parent_name" size="small" disabled style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('common.name')" prop="name">
						<el-input v-model.trim="editform.name" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('app.appType')">
						<el-select size="small" v-model="editform.type" :disabled="appTypeDisabled"  style="width: 200px;" data-i18n="[placeholder]common.select">
							<el-option v-for="list in typeOptions" :label="list.text" :value="list.code">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('app.appCode')" prop="code">
						<el-input v-model.trim="editform.code" size="small" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('app.appURL')">
						<el-input v-model="editform.url" size="small" style="width: 565px;"></el-input>
					</el-form-item>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button type="primary" @click="editConfirm()" data-i18n="common.confirm"></el-button>
					<el-button @click="editDialogShow = false" data-i18n="common.cancel"></el-button>
				</div>
			</el-dialog>
		</div>

		<script type="text/javascript" src="../../js/libs/md5.js"></script>
		<script type="text/javascript" src="../../js/manage/app.js"></script>
	</body>

</html>