<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link href="../../css/all.css" rel="stylesheet">
		<link rel="stylesheet" href="../../css/menu.css" />
		<script src="../../js/allSecond.js"></script>
	</head>

	<body class="gray-bg" style="overflow-y: hidden;min-width: 1250px;">
		<div id="menuManage" style="position: relative;width: 100%;height: 100%;">
			<div class="content_bg leftBox tree" style="overflow: auto;">
				<div class="mg_b10 mg_t10">
					<el-select size="mini" v-model="searchAppID" style="width: 200px;" @change="selectAppID()">
						<el-option v-for="list in allAppOptions" :label="list.name" :value="list.id">
						</el-option>
					</el-select>
				</div>
				<div>
					<el-tree :props="props" :load="loadNode" node-key="id" ref="tree" :default-expanded-keys="[0]" lazy accordion highlight-current @node-click="handleNodeClick">
					</el-tree>
				</div>

			</div>
			<div class="content_bg rightBox" style="overflow: auto;">
				<div>
					<div class="t_left" style="margin: 10px 0;font-size: 16px;" v-text="operateTitle"></div>
					<div class="t_right">
						<el-button round size="small" icon="el-icon-document" :disabled="addDisabled" @click="openAddMenu()"><span data-i18n="common.add"></span></el-button>
						<el-button round size="small" icon="el-icon-edit" :disabled="editDisabled" @click="openEditMenu()"><span data-i18n="common.edit"></span></el-button>
						<el-button round size="small" icon="el-icon-delete" :disabled="deleteDisabled" @click="deleteMenu()"><span data-i18n="common.delete"></span></el-button>
						<el-button round size="small" icon="el-icon-sort-up" @click="rankMove(1)" plain><span data-i18n="common.up"></span></el-button>
						<el-button round size="small" icon="el-icon-sort-down" @click="rankMove(0)" plain><span data-i18n="common.down"></span></el-button>
					</div>
					<div class="clear"></div>
				</div>
				<el-tabs v-model="activeTab" @tab-click="menuTab">
					<el-tab-pane :label="$.t('menus.basicInformation')" name="first" style="width: 850px;">
						<el-form :model="form" :disabled="isDisabled" :rules="rules" ref="form" :inline="true" label-position="right" label-width="150px">
							<el-form-item :label="$.t('menus.parentName')">
								<el-input v-model="form.parentName" disabled size="small" style="width: 200px;"></el-input>
								<el-button size="small" type="danger" icon="el-icon-delete" style="width: 47px;" @click="clearTree()"></el-button>
							</el-form-item>
							<el-form-item :label="$.t('common.app')" prop="app_id">
								<el-select disabled size="small" v-model="form.app_id" style="width: 250px;">
									<el-option v-for="list in operableAppOptions" :label="list.name" :value="list.id">
									</el-option>
								</el-select>
							</el-form-item>
							<el-form-item :label="$.t('common.name')" prop="name">
								<el-input v-model.trim="form.name" size="small" style="width: 250px;"></el-input>
							</el-form-item>
							<el-form-item :label="$.t('common.type')">
								<el-select size="small" v-model="form.type" style="width: 250px;">
								<el-option v-for="list in menuTypeOptions" :label="list.text" :value="list.code">
						        </el-option>
								</el-select>
								
							</el-form-item>
							<el-form-item :label="$.t('code.code')" prop="code">
								<el-input v-model="form.code" size="small" style="width: 250px;"></el-input>
							</el-form-item>
							<el-form-item :label="$.t('menus.authType')">
								<el-select size="small" v-model="form.authType" style="width: 250px;">
									<el-option value="0" :label="$.t('menus.NoLogin')"></el-option>
									<el-option value="1" :label="$.t('menus.login')"></el-option>
									<el-option value="2" :label="$.t('menus.loginAndAuth')"></el-option>
								</el-select>
							</el-form-item>
							<el-form-item :label="$.t('menus.urlType')">
								<el-input v-model="form.urlType" size="small" style="width: 250px;"></el-input>
							</el-form-item>
							<el-form-item :label="$.t('menus.funcType')" prop="funcType">
								<el-select size="small" v-model="form.funcType" data-i18n="[placeholder]common.select" style="width: 250px;">
									<el-option v-for="item in funcTypeOptions" :label="item.text" :value="item.code">
									</el-option>
								</el-select>
							</el-form-item>
							<el-form-item :label="$.t('menus.icon')">
								<el-input v-model="form.icon" size="small" style="width: 250px;"></el-input>
							</el-form-item>
							<el-form-item :label="$.t('common.status')">
								<el-select size="small" v-model="form.state" style="width: 250px;">
									<el-option value="1" :label="$.t('common.enabled')"></el-option>
									<el-option value="0" :label="$.t('common.disabled')"></el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="URL" style="width: 100%;">
								<el-input v-model="form.url" size="small" style="width: 665px;"></el-input>
							</el-form-item>
							<el-form-item style="width: 100%;">
								<div style="margin-left: 150px;">
									<el-button size="small" type="primary" icon="el-icon-document" @click="save()"><span data-i18n="common.save"></span></el-button>
								</div>
							</el-form-item>
						</el-form>
					</el-tab-pane>
					<el-tab-pane :label="$.t('menus.international')" name="second">
						<div class="addMenu">
							<el-form :disabled="isDisabled">
								<el-button class="mg_b15" size="small" type="primary" icon="el-icon-plus" @click="addLanguage()"></el-button>
								<el-table :data="form.uap_menu_locals" border style="width: 100%;min-height: 300px;overflow-y: auto;">
									<el-table-column :label="$.t('common.language')" width="200">
										<template slot-scope="scope">
											<!--<el-input v-model="scope.row.local" size="small" style="width: 100%;"></el-input>-->
											<el-select size="small" v-model="scope.row.local" class="selWidth">
												<el-option value="zh" label="简体中文"></el-option>
												<el-option value="en" label="English"></el-option>
											</el-select>
										</template>
									</el-table-column>
									<el-table-column :label="$.t('common.name')">
										<template slot-scope="scope">
											<el-input v-model.trim="scope.row.display_name" size="small" style="width: 100%;"></el-input>
										</template>
									</el-table-column>
									<el-table-column :label="$.t('common.operate')" width="200">
										<template slot-scope="scope">
											<el-button size="small" type="primary" @click="saveLacal(scope.row)"><span v-text="i18n.save"></span></el-button>
											<el-button size="small" type="danger" @click="deleteLocal(scope.row)"><span v-text="i18n.delete"></span></el-button>
										</template>
									</el-table-column>
								</el-table>
							</el-form>
						</div>
					</el-tab-pane>
					<el-tab-pane label="API" name="third">
						<div>
							<el-form :disabled="APIDisabled">
								<div class="t_left" style="width:650px">
									<div style="background: #f5f7fa;border: 1px solid #cccccc;line-height: 35px;padding: 0 20px;">
										<span data-i18n="common.all"></span>
										<span :disabled="APIDisabled" class="t_right leftConfirmTxt" @click="selLeftApiConfirm()" data-i18n="common.confirm"></span>
										<span class="clear"></span>
									</div>
									<div style="border: 1px solid #cccccc;border-top:none;padding: 20px;overflow: auto;">
										<div>
											<div class="t_left">
												<el-select size="small" v-model="searchApiAppID" style="width: 200px;" @change="searchApi()">
													<el-option v-for="list in operableAppOptions" :label="list.name" :value="list.id">
													</el-option>
												</el-select>
											</div>
											<div class="t_left mg_l10">
												<el-input style="width:300px;height: 32px;" data-i18n="[placeholder]common.inputName" v-model.trim="searchApiName" size="small" @keyup.enter.native="searchApi" clearable></el-input>
											</div>
											<div class="t_right mg_l15">
												<el-button size="small" type="primary" icon="el-icon-search" @click="searchApi()"><span data-i18n="common.search"></span></el-button>
											</div>
											<div class="clear"></div>
										</div>
										<div class="mg_t15" >
											<el-table border stripe :data="apiData" ref="ApiTable" style="width: 100%;" max-height="300" @select="handleSelectionChange" @select-all="checkSelectable">
												<el-table-column prop="checked" type="selection"></el-table-column>
												<el-table-column prop="name" :label="$.t('common.name')" min-width="80" show-overflow-tooltip>
												</el-table-column>
												<el-table-column prop="url" label="URL" min-width="100" show-overflow-tooltip>
												</el-table-column>
											</el-table>
											<div class="block mg_t20" style="background: white;width:100%;height:40px;">
												<el-pagination @size-change="handleSizeChange" :disabled="isDisabled" @current-change="handleCurrentChange" background :current-page="currentPage" :page-sizes="[10, 20, 30]" :page-size="page_size" layout="total, sizes, prev, pager, next" :total="total_count">
												</el-pagination>
											</div>
										</div>
									</div>
								</div>
								<div class="t_left mg_l20">
									<div style="width: 250px;height: 35px;background: #f5f7fa;border: 1px solid #cccccc;line-height: 35px;padding: 0 20px;">
										<span data-i18n="menus.selected"></span>
										<span :disabled="APIDisabled" class="t_right rightDeleteTxt" @click="selRightApiDelete()" data-i18n="common.delete"></span>
										<span class="clear"></span>
									</div>
									<div style="width: 250px;height: 450px;border: 1px solid #cccccc;border-top:none;padding: 20px;">
										<table>
											<tbody>
												<tr v-for="list in rightApi" style="height: 25px;">
													<td>
														<el-checkbox v-model="list.selected" @change="rightApiSel(list)"></el-checkbox>
													</td>
													<td><span class="mg_l10" v-text="list.uap_rest_api.name"></span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="clear"></div>
							</el-form>
						</div>
					</el-tab-pane>
				</el-tabs>
			</div>
		</div>

		<script src="../../js/manage/menu.js"></script>
	</body>

</html>