<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>role</title>
		<link href="../../css/all.css" rel="stylesheet">
		<script src="../../js/allSecond.js"></script>
		<style>
			.input-with-select .el-input-group__prepend {
				background-color: #fff;
			}
			
			.middleBox {
				position: absolute;
				left: 0px;
				right: 245px;
			}
			
			.rightBox {
				position: absolute;
				right: 0;
				width: 230px;
				top: 0px;
				bottom: 0;
			}
			
			.el-tree-node__content {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				height: 36px;
				cursor: pointer;
			}
			
			.el-tree-node__label {
				font-size: 14px;
				color: #666666;
			}
		</style>
	</head>

	<body class="gray-bg">
		<div id="roleManage" style="position: relative; width: 100%; height: 100%;min-width: 1250px;">
			<div class="middleBox">
				<div>
					<div class="content_bg" style="height: 62px;">
						<div class="t_left">
							<el-select style="width:150px;height: 32px;" size="small" v-model="chooseState" slot="prepend" data-i18n="[placeholder]common.select" @change="selectState()">
								<el-option v-for="item in stateOptions" :label="item.text" :value="item.code">
								</el-option>
							</el-select>
						</div>
						<div class="t_left mg_l10">
						<el-select size="small" v-model="searchAppID" style="width: 200px;" @change="selectAppID()">
						<el-option v-for="list in operateApp" :label="list.name" :value="list.id">
						</el-option>
					</el-select>
					</div>
						<div class="t_left mg_l10">
							<el-input style="width: 300px;height: 32px;" data-i18n="[placeholder]common.inputName" v-model.trim="searchName" size="small" @keyup.enter.native="searchRole" clearable></el-input>
						</div>
						<div class="t_left mg_l10">
						<el-select v-model="parentRoleID" size="small" filterable :placeholder="placeholderSearch" clearable @visible-change="selectParentRole">
							<el-option v-for="item in parentRoleOptions" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
						</div>
						<div class="t_right">
							<el-button size="small" type="primary" icon="el-icon-search" @click="searchRole()"><span data-i18n="common.search"></span></el-button>
						</div>
						<div class="clear"></div>
					</div>
					<div class="content_bg mg_t14">
						<div class="tableTitle">
							<div class="font16 f_color1 t_left" style="height: 30px;line-height: 30px;">
								<span data-i18n="common.roleTitle"></span>
							</div>
							<div class="t_right">
								<el-button round size="small" icon="el-icon-document" v-on:click="openNewDialog" :disabled="addDisabled"><span data-i18n="common.add"></span></el-button>
							</div>
							<div class="clear"></div>
						</div>
						<el-table border stripe :data="roleListData" style="width: 100%;" highlight-current-row @row-click="handleSelectionChange">
							<el-table-column prop="name" :label="$.t('common.name')" min-width="120" show-overflow-tooltip></el-table-column>
							<el-table-column prop="code" :label="$.t('role.code')" width="180" show-overflow-tooltip></el-table-column>
							<el-table-column prop="typeName" width="150" :label="$.t('common.type')" show-overflow-tooltip>
							</el-table-column>
							<el-table-column prop="extTypeName" width="150" :label="$.t('role.extType')" show-overflow-tooltip>
							</el-table-column>
							<el-table-column prop="parent_name" width="150" :label="$.t('role.parentRole')" show-overflow-tooltip>
							</el-table-column>
							<el-table-column :label="$.t('common.whetherToEnable')" width="100" show-overflow-tooltip>
								<template slot-scope="scope">
									<el-switch v-model="scope.row.stateNo" :disabled="stateDisabled" @change="stateChange(scope.row)">
									</el-switch>
								</template>
							</el-table-column>
							<el-table-column prop="update_time" width="180" :label="$.t('role.updateTime')" show-overflow-tooltip></el-table-column>
							<el-table-column :label="$.t('common.operate')" min-width="150" fixed="right">
								<template slot-scope="scope">
									<el-tooltip class="item" effect="dark" :content="$.t('common.delete')" placement="top">
										<el-button size="mini" type="danger" icon="el-icon-delete" :disabled="deleteDisabled" @click="deleteRole(scope.$index, scope.row)" circle></el-button>
									</el-tooltip>
									<el-tooltip class="item" effect="dark" :content="$.t('common.edit')" placement="top">
										<el-button size="mini" icon="el-icon-edit" :disabled="editDisabled" @click="openEditDialog(scope.$index, scope.row)" circle></el-button>
									</el-tooltip>
									<el-tooltip class="item" effect="dark" :content="$.t('role.permSyn')" placement="top" >
								        <el-button size="mini" icon="el-icon-refresh"  @click="Synchronize(scope.row.id)" circle v-if="scope.row.parent_id==undefined"></el-button>
							        </el-tooltip>
								</template>
							</el-table-column>
						</el-table>
						<div class="block mg_t20" style="background: white;width:100%;height:40px;">
							<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background :current-page="currentPage" :page-sizes="[10, 20, 30]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="total_count">
							</el-pagination>
						</div>
					</div>
				</div>
			</div>

			<div class="rightBox content_bg tree">
				<div style="position: static;">
					<div class="font16 f_color1" style="height: 30px;line-height: 30px;">
						<!--<span v-text="multipleSelectionObject.name"></span>-->
						<span data-i18n="common.menusTitle"></span>
					</div>
					<div style="position: absolute;right: 0;width: 230px;top: 50px;bottom: 50px;overflow: auto;padding: 15px;">
						<div style="overflow-x: auto;">
							<el-tree :data="menuAllTreeData" show-checkbox accordion node-key="id" :default-checked-keys="setCheckedMenu" ref="menuTree" :props="defaultProps">
							</el-tree>
						</div>
					</div>
					<div style="position: absolute;right: 15px;bottom: 15px;">
						<el-button size="small" type="success" icon="el-icon-upload" :disabled="assignMenuDisabled" v-on:click="roleMenuConfirm"><span data-i18n="common.submit"></span></el-button>
					</div>
				</div>
			</div>

			<!--新增角色弹框-->
			<el-dialog :title="$.t('common.add')" :visible.sync="addRole" width="650px" :close-on-click-modal="false">
				<el-form :model="addRoleData" :inline="true" size="small" :rules="rules" ref="addRoleForm" label-width="90px" class="demo-ruleForm">
					<el-form-item :label="$.t('role.code')" prop="code">
						<el-input v-model.trim="addRoleData.code" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('common.name')" prop="name">
						<el-input v-model.trim="addRoleData.name" style="width: 200px;"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('role.parentRole')">
						<el-select v-model="addRoleData.parent_id" filterable data-i18n="[placeholder]common.select" style="width: 200px;" clearable @change="parentRoleChange(addRoleData.parent_id)" @visible-change="selectParentRole">
							<el-option v-for="item in parentRoleOptions" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('common.app')" prop="app_id">
								<el-select size="small" v-model="addRoleData.app_id" disabled  style="width: 200px;">
									<el-option v-for="list in operateApp" :label="list.name" :value="list.id">
									</el-option>
								</el-select>
					</el-form-item>
					<el-form-item :label="$.t('common.type')" prop="type">
						<el-select style="width:200px;height: 32px;" :disabled="addRoleType" v-model="addRoleData.type" data-i18n="[placeholder]common.select">
							<el-option v-for="item in typeOptions" :label="item.text" :value="item.code">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item :label="$.t('role.extType')" prop="extType">
						<el-select style="width:200px;height: 32px;" v-model="addRoleData.extType" :disabled="extTypeDisabled" data-i18n="[placeholder]common.select">
							<el-option v-for="item in typeExtOptions" :label="item.text" :value="item.code">
							</el-option>
						</el-select>
					</el-form-item>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button type="primary" @click="newConfirm" data-i18n="common.confirm"></el-button>
					<el-button @click="addRole = false" data-i18n="common.cancel"></el-button>
				</div>
			</el-dialog>
			<!--编辑角色组织-->
			<el-dialog :title="$.t('common.edit')" :visible.sync="editRole" width="650px" :close-on-click-modal="false">
				<el-form :model="editRoleData" :inline="true" size="small" :rules="rules" ref="editRoleForm" label-width="90px" class="demo-ruleForm">
					<el-form-item :label="$.t('role.code')" prop="code">
						<el-input v-model.trim="editRoleData.code"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('common.name')" prop="name">
						<el-input v-model.trim="editRoleData.name"></el-input>
					</el-form-item>
					<el-form-item :label="$.t('role.parentRole')">
						<el-input v-model="editRoleData.parentName" disabled></el-input>
					</el-form-item>
					<el-form-item :label="$.t('common.app')" prop="app_id">
								<el-select size="small" v-model="editRoleData.app_id" disabled  style="width: 200px;">
									<el-option v-for="list in operateApp" :label="list.name" :value="list.id">
									</el-option>
								</el-select>
					</el-form-item>
					<el-form-item :label="$.t('common.type')">
						<el-input v-model="editRoleData.typeName" disabled></el-input>
					</el-form-item>
					<el-form-item :label="$.t('role.extType')">
						<el-input v-model="editRoleData.extTypeName" disabled></el-input>
					</el-form-item>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button type="primary" @click="editConfirm" data-i18n="common.confirm"></el-button>
					<el-button @click="editRole = false" data-i18n="common.cancel"></el-button>
				</div>
			</el-dialog>
		</div>

		<script src="../../js/manage/role.js"></script>
	</body>

</html>