<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="js/vue.min.js"></script>
<script src="js/vue-resource.js"></script>
<body>
<!--<div>-->
    <!--设备类型：-->
    <!--<select>-->
        <!--<option selected="selected">&#45;&#45;请选择&#45;&#45;</option>-->
        <!--<option >变电站</option>-->
        <!--<option >断路器</option>-->
        <!--<option >负荷开关</option>-->
        <!--<option >接地刀闸</option>-->
    <!--</select>-->

    <!--容器名称：-->
    <!--<select>-->
        <!--<option  selected="selected">&#45;&#45;请选择&#45;&#45;</option>-->
        <!--<option>toptest1</option>-->
        <!--<option>newtest1</option>-->
    <!--</select>-->

    <!--设备名称：-->
    <!--<select>-->
        <!--<option selected="selected">&#45;&#45;请选择&#45;&#45;</option>-->
        <!--<option>断路器1</option>-->
        <!--<option>断路器2</option>-->
    <!--</select>-->
    <!--<br>-->

    <!--<br>-->
    <!--<input type="checkbox"/>遥测1<br>-->
    <!--<input type="checkbox"/>遥测2<br>-->
    <!--<input type="checkbox"/>遥测3<br>-->
    <!--<input type="checkbox"/>遥测4<br>-->
    <!--<br>-->

    <!--<button>匹配</button>-->
<!--</div>-->


<!--<br><h1>-&#45;&#45;&#45;&#45;test-vue-ajax-&#45;&#45;&#45;&#45;</h1>-->
<div id="box">
    设备类型
    <select v-on:click="queryTypeList" v-model="tid"  @change="queryEquipmentList">
        <option  selected="selected" @click="queryEquipmentList" value="">--请选择--</option>
        <option v-for="item in typeList" :value="item.id">{{item.name}}</option>
    </select>

    容器
    <select @click="queryContainerList" v-model="cid" @change="queryEquipmentList">
        <option  selected="selected" @click="queryEquipmentList" value="">--请选择--</option>
        <option v-for="item in containerList" :value="item.id">{{item.name}}</option>
    </select>

    设备
    <select v-on:click="queryEquipmentList" v-model="eid" @change="queryAnalogByEqic" >
        <option  selected="selected" @click="queryAnalogByEqic" value=" ">--请选择--</option>
        <option v-for="item in equipmentList" :value="item.id">{{item.name}}</option>
    </select>
    <br/><br>
    <!--<span>&nbsp&nbsp</nbsp>+</span>-->
    <!--<span v-for="item in anlogList" >-->
      <!--<br>  <input  type="checkbox" key="item.id">{{item.name}} &nbsp;X-->
    <!--</span>-->
    <!--<br>-->


    <!--<div>-->

        <!--<h1><span>↓</span>  <span>↑</span></h1>-->
        <!--<table border="1" width="200" height="100">-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<input type="checkbox">Ia-->

                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<button v-on:click="feRefScada">还原</button>-->
        <!--<br>-->
        <!--<br>-->
        <!--当前已选择：-->
        <!--<table>-->
            <!--<br>-->
            <!--<span>ntest-遥测1 X</span><br>-->
            <!--<span>ntest-遥测2 X</span><br>-->
            <!--<span>ntest-遥测3 X</span><br>-->

            <!--<br>-->
        <!--</table>-->
    <!--</div>-->
    <!--<br>-->
    <!--&lt;!&ndash;TODO @click once prevent stop?&ndash;&gt;-->
    <!--<button v-on:click="feRefScada">关联</button>-->


    <br>

</div>

</body>

<script>
    var base='http://192.168.15.171:8080/fe-server/fe/'
    var vm=new Vue({
        el:'#box',
        data:{
            typeList:"",
            containerList:"",
            equipmentList:"",
            cid:"",
            tid:"",
            eid:"",
            anlogList:""
        },
        methods:{
            feRefScada:function () {
                var url=base+'analogRefScada'
                var params={}
                this.$http.post(url,params).then(function (data) {   //ajax请求封装
                    var code=data.body.msg_code
                    if(code !="operate.success"){
                        alert(code)
                    }
                    var json = data.body.data;
                    console.info(json);
                    this.typeList = json;
                }, function (response) {     //返回失败方法调用，暂不处理
                    console.info(response);
                })
            },
            queryTypeList:function () {
                var url=base+'getRefPsrtypeInfo'
                var params={}
                this.$http.post(url,params).then(function (data) {   //ajax请求封装
                    var json = data.body.data;
                    console.info(json);
                    this.typeList = json;
                }, function (response) {     //返回失败方法调用，暂不处理
                    console.info(response);
                })
            },
            queryContainerList:function () {
                var url=base+'getRefContainerInfo'
                var params={}
                this.$http.post(url,params).then(function (data) {   //ajax请求封装
                    var json = data.body.data;
                    console.info(json);
                    this.containerList = json;
                }, function (response) {     //返回失败方法调用，暂不处理
                    console.info(response);
                })
            },
            queryEquipmentList:function () {
                var url=base+'getRefEquipmentInfo';
                var params={'container_id':this.cid,'type_id':this.tid};
                this.$http.post(url,params).then(function (data) {   //ajax请求封装
                    var code=data.body.msg_code
                    if(code !="operate.success"){
                        console.info(code)
                    }
                    var json = data.body.data;
                    console.info(json);
                    this.equipmentList = json;
                }, function (response) {     //返回失败方法调用，暂不处理
                    console.info(response);
                })
            },
            queryAnalogByEqic:function () {
                var url=base+'getAnlogInfoByEquipment/'+this.eid;
                var param={}
                this.$http.post(url,param).then(function (data) {   //ajax请求封装
                    var code=data.body.msg_code
                    if(code !="operate.success"){
                        console.info('wrongMsg:'+code)
                    }
                    var json = data.body.data;
                    console.info(json);
                    this.anlogList = json;
                }, function (response) {     //返回失败方法调用，暂不处理
                    console.info(response);
                })
            }

        }

    })

</script>


</html>