<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>processDefect</title>
		<link href="../../css/all.css" rel="stylesheet">
		<script src="../../js/allSecond.js"></script>
		<style type="text/css">
			.leftText{
				width: 140px;float: left;text-align:right;height: 32px;line-height: 32px;font-weight: bold;font-size: 14px;color: #606266;
			}
			.rightText{
				width: 200px;float: left;height: 32px;line-height: 32px;font-size: 14px;padding-left: 10px;
			}
		</style>
	</head>

	<body>
		<div id="processDefect" style="width: 100%; height: 100%;">
			<div style="border-bottom: 1px solid #dddddd;padding: 10px 0;">
				<el-form :model="auditDefectData" :inline="true" size="small">
					<el-form-item :label="$.t('defect.name')" prop="no" label-width="140px">
						<el-input v-model="auditDefectData.equipment_name" style="width: 200px;" disabled></el-input>
					</el-form-item>
					<el-form-item :label="$.t('defect.equipmentType')" label-width="140px">
						<el-input v-model="auditDefectData.equipment_type" style="width: 200px;" disabled></el-input>
					</el-form-item>
	
					<el-form-item :label="$.t('defect.equipmentNo')" label-width="140px">
						<el-input v-model="auditDefectData.equipment_no" style="width: 200px;" disabled></el-input>
					</el-form-item>
					<el-form-item :label="$.t('defect.type')" label-width="140px">
						<el-input v-model="auditDefectData.type" style="width: 200px;" disabled></el-input>
					</el-form-item>
					<el-form-item :label="$.t('defect.discoverer')" label-width="140px">
						<el-input v-model="auditDefectData.discoverer" style="width: 200px;" disabled></el-input>
					</el-form-item>
					<el-form-item :label="$.t('defect.discoverTime')" label-width="140px">
						<el-input v-model="auditDefectData.discover_time" style="width: 200px;" disabled></el-input>
					</el-form-item>
					<el-form-item :label="$.t('defect.reporter')" label-width="140px">
						<el-input v-model="auditDefectData.reporter" style="width: 200px;" disabled></el-input>
					</el-form-item>
					<el-form-item :label="$.t('defect.reportTime')" label-width="140px">
						<el-input v-model="auditDefectData.report_time" style="width: 200px;" disabled></el-input>
					</el-form-item>
	
					<el-form-item :label="$.t('defect.description')" label-width="140px">
						<el-input v-model="auditDefectData.description" style="width: 200px;" disabled></el-input>
					</el-form-item>
					<el-form-item :label="$.t('defect.address')" label-width="140px">
						<el-input v-model="auditDefectData.address" style="width: 200px;" disabled></el-input>
					</el-form-item>
				</el-form>
			</div>
			<div style="padding: 10px 20px;">
				<div v-for="list in detailData" style="border-bottom: 1px solid #d1d1d1;">
					<div class="t_left">
						<div class="leftText">处理人</div>
						<div class="rightText" v-text="list.handler"></div>
					</div>
					<div class="t_left">
						<div class="leftText">处理意见</div>
						<div class="rightText" v-text="list.handle_suggestion"></div>
					</div>
					<div class="t_left">
						<div class="leftText">处理结果</div>
						<div class="rightText" v-text="list.handle_result"></div>
					</div>
					<div class="t_left">
						<div class="leftText">处理时间</div>
						<div class="rightText" v-text="list.handle_time"></div>
					</div>
					<div class="t_left">
						<div class="leftText">处理状态</div>
						<div class="rightText" v-text="list.stateNo"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div>
				<el-form :model="submitData" :inline="true" size="small" class="demo-ruleForm">
					<el-form-item :label="$.t('defect.opinion')" label-width="140px">
						<el-input v-model="submitData.handle_suggestion" style="width: 200px;" clearable></el-input>
					</el-form-item>
					<el-form-item :label="$.t('defect.result')" label-width="140px">
						<el-input v-model="submitData.handle_result" style="width: 200px;"></el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer t_right mg_r20">             
	                <el-button type="primary" @click="submitBtn(true)">批准</el-button>
	                <el-button type="primary" v-show="bhBtnShow" @click="submitBtn(false)">驳回</el-button>
	            </span>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/defect/processDefect.js"></script>

</html>